{% extends "base.html" %}
{% block content %}
  <!-- Wrapper that will be replaced -->
  <div id="city-form-wrapper">
    <form method="get" class="w-full">
      <div class="mb-4 p-4 bg-base-200 rounded-lg shadow-sm">
        <p class="text-center">Please select two cities from the dropdown menus below to compare rental prices.</p>
      </div>
      <div class="flex flex-col gap-y-4 md:flex-row md:gap-x-4 items-stretch mb-4">
        <select name="city1" class="select w-full" required>
          <option value=""
                  disabled
                  {% if not selected_cities or not selected_cities.0 %}selected{% endif %}>Pick a city</option>
          {% for city in cities %}
            <option value="{{ city }}"
                    {% if selected_cities and city == selected_cities.0 %}selected{% endif %}>{{ city }}</option>
          {% endfor %}
        </select>
        <select name="city2" class="select w-full" required>
          <option value=""
                  disabled
                  {% if not selected_cities or not selected_cities.1 %}selected{% endif %}>Pick a city</option>
          {% for city in cities %}
            <option value="{{ city }}"
                    {% if selected_cities and city == selected_cities.1 %}selected{% endif %}>{{ city }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-soft btn-primary w-full">Submit</button>
    </form>
    {% if selected_cities %}
      <div x-data="{ infoType: 'price' }">
        <!-- Charts section -->
        <div class="divider"></div>
        <div class="w-full">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 md:gap-10">
            <c-chart chart_id="1" col1="avg_price_city_1" col2="avg_price_city_2" title="Rent by Offer Type" />
            <c-chart chart_id="2" col1="avg_price_per_square_meter_city_1" col2="avg_price_per_square_meter_city_2" title="Rent/m² by Offer Type" />
          </div>
        </div>
        <!-- Table section -->
        <div class="divider"></div>
        <c-table />
      </div>
    {% endif %}
  </div>
{% endblock content %}
