{% extends "base.html" %}
{% block content %}
  <!-- Wrapper that will be replaced -->
  <div id="city-form-wrapper">
    <form method="get" class="w-full">
      <div class="mb-4 p-4 bg-base-200 rounded-lg shadow-sm">
        <p class="text-center">Please select two cities from the dropdown menus below to compare rental prices.</p>
      </div>
      <select id="citiesSelection" name="citiesSelection" multiple>
        {% for city in cities %}<option value="{{ city }}">{{ city }}</option>{% endfor %}
      </select>
      <button type="submit" class="btn btn-soft btn-primary w-full my-4">Submit</button>
    </form>
    {% if selected_cities %}
      <div x-data="{ infoType: 'price' }">
        <!-- Charts section -->
        <div class="divider"></div>
        <div class="w-full">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 md:gap-10">
            <c-chart chart_id="1" col_prefix="avg_price" title="Rent by Offer Type" />
            <c-chart chart_id="2" col_prefix="avg_price_per_square_meter" title="Rent by Offer Type" />
          </div>
        </div>
        <!-- Table section -->
        <div class="divider"></div>
        <c-table />
      </div>
    {% endif %}
  </div>
  <script>
    const choices = new Choices('#citiesSelection', {
      removeItemButton: true,
      shouldSort: false,
    });
  </script>
{% endblock content %}
