{% extends "base.html" %}
{% block content %}
  {% with "listings-with-locations" as listings_loc %}
    {{ listings_with_locations|json_script:listings_loc }}
  {% endwith %}
  {% with "city-center-location" as city_center %}{{ city_center_location|json_script:city_center }}{% endwith %}
  <div id="city-form-wrapper">
    <form method="get" class="w-full">
      <div class="mb-4 p-4 bg-base-200 rounded-lg shadow-sm">
        <p class="text-center">
          This map shows the locations of rental offers in the selected city. Please select a city and offer type below.
        </p>
      </div>
      <select id="citySelection"
              name="citySelection"
              class="select w-full my-4"
              required>
        <option value="" disabled selected>Select a city</option>
        {% for city in cities %}
          <option value="{{ city }}" {% if city == selected_city %}selected{% endif %}>{{ city }}</option>
        {% endfor %}
      </select>
      <select id="offerSelection"
              name="offerSelection"
              class="select w-full"
              required>
        <option value="" disabled selected>Select an offer type</option>
        {% for offer_type in offer_types %}
          <option value="{{ offer_type }}"
                  {% if offer_type == selected_offer_type %}selected{% endif %}>{{ offer_type }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-soft btn-primary w-full my-4">Submit</button>
    </form>
  </div>
  {% if selected_city is not None and selected_offer_type is not None %}
    <div id="map" class="h-140"></div>
    <script>
        const cityCenterLocation = JSON.parse(document.getElementById('city-center-location').textContent);
        var map = L.map('map').setView([cityCenterLocation.lat, cityCenterLocation.lon], cityCenterLocation.zoom);
      
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          className: 'map-tiles'
        }).addTo(map);

        const listingsData = JSON.parse(document.getElementById('listings-with-locations').textContent);

        // Add a marker for each listing
        listingsData.data.forEach(listing => {
          if (listing.latitude && listing.longitude) {
            L.marker([listing.latitude, listing.longitude])
              .addTo(map)
              .bindPopup(`<strong>${listing.name}</strong><br>Price: ${listing.price}€<br>Square meters: ${listing.square_meters}m²`);
          }
        });
    </script>
  {% endif %}
{% endblock content %}
